<!doctype html>
<meta charset="utf-8">
<title>Hexi</title>

<body>
    <!-- Them thu vien hexi va cac tep cot loi cua no -->
    <script src="/static/lib/pixi.js"></script>
    <script src="/static/lib/hexi.min.js"></script>
    <script src="/static/lib/core.js"></script>
    <!-- <script src="/static/lib/charm.js"></script> -->

    <!-- file .js la file chinh trong viec thao tac tao ra cac hoat canh trong index1 -->
    <script src="/static/js-creategame/quickStart.js"></script>

</body>