<!doctype html>
<meta charset="utf-8">
<title>Treasure hunter</title>

<body>
    <script src="/static/lib/hexi.min.js"></script>

    <!-- Main application file -->
    <script src="/static/js-creategame/treasureHunterAtlas.js"></script>
</body>