<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/lib/pixi.min.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0
        }
    </style>
    <title>Learn pixi.js</title>
</head>

<body>
    <script>
        // kiem tra xem pixi.min.js da duoc nhung vao trong file .ejs nay hay chua
        let type = "WebGL"

        if (!PIXI.utils.isWebGLSupported()) {
            type = "canvas"
        }

        PIXI.utils.sayHello(type)

        // dat cac bi danh cho cac doi tuong hay su dung trong PIXI
        let Application = PIXI.Application,
            loader = PIXI.loader,
            resources = PIXI.loader.resources,
            Sprite = PIXI.Sprite,
            TextureCache = PIXI.utils.TextureCache,
            Container = PIXI.Container;

        let cat, state;

        // tao ra mot doi tuog PIXI.Application
        let app = new Application({
            width: 256,
            height: 256,
            antialias: true,
            transparent: false,
            resolution: 1
        });

        // them doi tuong canvas duoc tao ra boi PIXI tren vao trong body cua DOM
        document.body.appendChild(app.view);

        // thuc hien load hinh anh va sau khi load xong thi thuc hien phuong thuc setup
        loader
            .add("/static/imgs/cat.png")
            .load(setup);

        // ham thuc hien chuyen doi va day hinh anh da chuyen dang sang webGL vao trong sprite
        function setup() {
            // day dinh dang anh da duoc chuyen doi vao sprite cat, chu y PIXI.loader.resources["duong dan cua anh"] la mot mang chua hinh anh da duoc load len ung dung
            // phuong thuc .texture la phuong thuc chuyen doi dinh dang cua anh ve dang GPU co the xu ly
            cat = new Sprite(resources["/static/imgs/cat.png"].texture);

            // them sprite vao trong stage
            app.stage.addChild(cat);

            // thay doi vi tri cua sprite tren khung canvas
            cat.y = 96;

            // thiet lap van toc di chuyen theo chieu ngang va doc cho sprite, ban dau cho la 0, vi sprite chua di chuyen
            cat.vx = 0;
            cat.vy = 0;

            // thuc hien nhan trang thai cua sprite
            state = play // play la mot ham

            // thuc hien viec cap nhat toa do x cho cat sprite dan sang phai moi lan 1 pixel
            // cap nhat 60 lan / giay
            app.ticker.add(delta => gameLoop(delta));

        }

        // ham phuong thuc lap
        function gameLoop(delta) {
            // update trang thai hien tai cua game
            state(delta); // state luc nay dong vai tro la ham play
        }

        function play(delta) {
            // di chuyen sprite sang ben phai 1 pixel
            cat.vx = 1
            cat.x += cat.vx;
        }

    </script>
</body>

</html>