<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/lib/pixi.min.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0
        }
    </style>
    <title>Learn pixi.js</title>
</head>

<body>
    <script>
        // kiem tra xem pixi.min.js da duoc nhung vao trong file .ejs nay hay chua
        let type = "WebGL"

        if (!PIXI.utils.isWebGLSupported()) {
            type = "canvas"
        }

        PIXI.utils.sayHello(type)

        // tao ra mot doi tuog PIXI.Application
        let app = new PIXI.Application({
            width: 256,         // default: 800
            height: 256,        // default: 600
            antialias: true,    // default: false
            transparent: false, // default: false
            resolution: 1       // default: 1
        });


        // thay doi mau nen cho khung canvas vua duoc tao
        app.renderer.backgroundColor = 0x061639;

        // Lam cho khung hien thi canvas nay lap day man hinh may tinh
        app.renderer.view.style.position = "absolute";
        app.renderer.view.style.display = "block";
        app.renderer.autoResize = true;
        app.renderer.resize(window.innerWidth, window.innerHeight);

        // them doi tuong canvas duoc tao ra boi PIXI tren vao trong body cua DOM
        document.body.appendChild(app.view);
    </script>
</body>

</html>